<div class="jumbotron">
  <h2>Github Issues</h2>
  <div>
    <table>
    <%= for i <- @issues do %>
    <tr>
      <td>
        <%= i.number %>
      </td>
      <td>
        <%= i.title %>
      </td>
    </tr>
    <% end %>
    </table>
    <%= pagination_links @conn, @page %>
  </div>
</div>
